<div class="container" style="margin-top: 20vh;">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">

      <div class="row">

        <div class="col-lg-5  d-lg-block  bg-gradient-grey" style="min-height: 200px">
          <div class="bg-logo_newtech"></div>
        </div>

        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h1 text-gray-900 mb-4">No esta autorizado para visualizar este contenido!</h1>
            </div>

            <div class="text-center">
              <h5 class="text-gray-600 mb-4">Si considera que es un error por favor contacte a su administrador</h5>
            </div>

            <hr>
            <div class="text-center">
              <a class="small" href="/auth/signout">Salir</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>